.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    width: 50vw;
}

.picture {
    width: 50vw;
    display: block;
    margin-right: 50%;
    margin-left: auto;
}

.bgpicture {
    margin-top: 50px;
    margin-left: 40%;
}
.white {
    margin-left: 40%;
    color:white;
}

.Bname {
    
    font-size:25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.overview {
    font-size:19px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    width:60vw;
}

.address {
    font-size:17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tags {
    display: flex;
    justify-content: left;
    gap: 20px;
    font-weight: bold;
}


.Box {
    padding: 20px;
    border-radius: 20px;
    color: black;
}
.green {
    background-color: greenyellow;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: paleturquoise;
}