body {
    overflow-x: hidden;
}

.container2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.lastContainer {
    display:flex;
}