* {
    text-decoration: none;
}
ul {
    margin-top:70px;
}

nav {
    color:white;
    font-size:20px;
    font-weight: bold;
    height:20px;
}
a:visited {
    color:white;
}
a:hover{
    transform: translateY(-5px);
    background-color: transparent;
    transition: ease-in-out 0.2s;
}

.items{
    display: inline;
    margin-right: 50px;
    cursor: pointer;
}