.container {
    cursor:pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width:21vw;
    font-family: sans-serif;
    transition: ease-in-out 0.2s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 3px 3px white;
    transition: ease-in-out 0.2s;
}

.container > div {
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.businessName {
    padding: 15px;
    width: 19vw;
    word-wrap: break-word;
    
}

.bg {
    max-width: 100%;
    max-height:100%;
    object-fit: contain;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.5em;
    padding: 15px;
    width: 19vw;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.txt {
    color: black;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;

}

.Visible {
    display: none;
    color:white;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}

.green {
    background-color: lightgreen;
}
.red {
    background-color: red;
}

.visibilityButton {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}